<%- include('partials/header') %>
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block border border-primary">
            <img src="images/default.png" alt="" class="mx-auto d-block img-fluid">
        </div>
        <div class="col-lg-6 col-sm-12 border border-primary">
            <a href="/user/register" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</a>
            <a href="/user/login" class="btn btn-success btn-lg btn-block signup-btn">Sign In</a>
        </div>
    </div>
    <%- include('partials/footer') %>