<%- include("partials/header") %>

    <div class="signup-form">
        <form action="/user/register" method="post">
            <h2>Create an Account</h2>
            <p class="hint-text">Sign up with your social media account</p>
            <div class="social-btn text-center">
                <a href="/auth/apple" class="btn btn-outline-dark btn-lg"><i class="fa fa-apple"></i> Apple</a>
                <a href="/auth/google" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
            </div>
            <div class="or-seperator"><b>or</b></div>
            <div class="form-group">
                <input type="email" class="form-control input-lg" name="token" placeholder="Email Address"
                    required="required">
                <div id="changeSignUp" class="mt-1">
                    Use <span id="signUpToken">phone number</span> instead
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" name="username" placeholder="Username"
                    required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" name="password" placeholder="Password"
                    required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" name="confirm_password"
                    placeholder="Confirm Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="/user/login">Sign in here</a></div>
    </div>

    <%- include("partials/footer") %>